<!-- templates/index.html -->

<html>
    <head>
        <title>Auto_Symlink</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <h1>Auto_Symlink</h1>
            <textarea id="logTextArea" rows="20" cols="80" readonly></textarea>
            <button onclick="refreshLog()" id="refreshButton">Refresh</button>
        </div>
        <script src="/static/app.js"></script>
    </body>
</html>
